<h1 class="text-center">Search</h1>
<div class="input-group">
  <input type="text" class="form-control" name="search" (keyup)="search($event)" placeholder="Search films">
  <div class="input-group-append">
    <button class="btn btn-secondary" type="button">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>
</div>

<div *ngIf="error" class="alert alert-danger" >{{error}}</div>
<app-grid *ngIf="filmlist" [list]="filmlist" [baseUrl]="'/film'"></app-grid>
<nav *ngIf="filmlist"  class="clearfix" aria-label="Page navigation">
  <ul class="pagination float-right">
    <li *ngFor="let page of pages;" class="page-item">
      <a [class]="page==currentPage?'current page-link':'page-link'" (click)="goPage(page)">{{page}}</a>
    </li>
  </ul>
</nav>
<div *ngIf="!filmlist">No results</div>
